.main-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 4rem auto;
  background: var(--DarkDesaturatedBlue);
  border-radius: 10px;
}
.image {
  background: url(../images/image-header-mobile.jpg);
  background-size: cover;
  width: inherit;
  margin: auto;
  height: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  filter: var(--SoftViolet(100%));
}
.bottom {
  color: var(--White);
  height: 400px;
  margin: 2rem 3.5rem;
  text-align: center;
}
.title {
  font-size: 30px;
}
.accent {
  color: var(--SoftViolet);
}
.info {
  margin: 1rem 0 1rem 0;
  line-height: 28px;
}
.stats {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
.stat {
  display: flex;
  flex-direction: column;
}
